{% extends 'service/base.html'%}
{% load static %}
{% block content %}

<br>
<br>
<br>

<div class="container mt-7">
    <div class="card">
        <div class="card-header text-center">
            <h2 class="featurette-heading fw-normal lh-1">
                <span class="text-body-secondary">Давайте познакомимся</span>
            </h2>
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading fw-normal lh-1">История пиццерии 'Синьор Помидор'</h2>
            <p class="lead">История пиццерии "Синьор Помидор" в Хабаровске начинается в 2008 году
                с небольшой, семейной мастерской, расположенной на окраине города. Основателем был Антонио Моретти,
                иммигрант из Италии, мечтавший поделиться с жителями Хабаровска настоящим вкусом итальянской пиццы.
                Рецепт теста, передаваемый из поколения в поколение в его семье,
                стал основой успеха. Антонио использовал только свежие, местные ингредиенты,
                приобретая помидоры у фермеров Приморского края, базилик у местных огородников и лучшие сорта
                сыра у проверенных поставщиков.</p>
            <p class="lead">Первые годы были непростыми. Конкуренция на рынке была высока, а небольшое помещение
                не позволяло обслуживать большое количество клиентов. Однако, качество пиццы "Синьор Помидор"
                говорило само за себя.  Сарафанное радио сработало на отлично, и пиццерия стала набирать
                популярность.</p>
            <p class="lead">В 2012 году "Синьор Помидор" переехал в более просторное помещение в центре Хабаровска.
                Был обновлён интерьер, расширен ассортимент блюд, включив традиционные итальянские пасты и закуски. В этот период
                Антонио пригласил на работу молодых поварских талантов, обучая их искусству приготовления истинной итальянской пиццы.</p>
            <p class="lead">К 2018 году "Синьор Помидор" уже был известен во всем Хабаровске, как место с аутентичной итальянской кухней и
                приятной атмосферой. Он стал популярен не только среди жителей, но и гостей города, заслужив множество положительных отзывов.
                Была разработана система онлайн-заказов, что значительно упростило процесс заказа и доставки.</p>
            <p class="lead">Сегодня "Синьор Помидор" – это успешная сеть пиццерий с несколькими филиалами в Хабаровске, известная своим высоким
                качеством продукции и преданностью традициям. Антонио Моретти, хотя и передал бразды правления своему сыну, продолжает следить за качеством и контролировать
                процесс приготовления, делясь своим богатым опытом и знаниями. История "Синьор Помидор" – это история успеха, труда и любви к своему делу.
                И это только начало. В планах расширение сети и дальнейшее развитие бренда.</p>


        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading fw-normal lh-1">Наша миссия, а также наши ценности</h2>
            <p class="lead">Наша миссия — дарить хабаровчанам радость от наслаждения аутентичной итальянской пиццей и другими блюдами,
                используя только свежие, высококачественные ингредиенты.</p>
            <p class="lead">Мы стремимся создать теплую и дружелюбную атмосферу, где каждый гость чувствует себя как дома.</p>
            <p class="lead">Наша цель — стать любимым местом для встреч с друзьями и семьей, где вкус и качество всегда на первом месте.</p>
            <ul>Наши ценности
                <li>Стабильность и удобство заказа</li>
                <li>Качество блюд нашего меню</li>
                <li>Помощь в предложениях</li>
                <li>Развитие и улучшение нашего сервиса</li>
                <li>Сотрудничество с клиентами</li>
                <li>Индивидуальный подход к каждому клиенту</li>


            </ul>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading fw-normal lh-1">Наша команда
            </h2>
            <p class="lead">Успех "Синьор Помидор" – это не только лучшие ингредиенты и проверенные рецепты, но и, прежде всего,
                наша команда!</p>
            <ul>Наши профессионалы
                <li>Менеджер по заказам</li>
                <li>Бармен</li>
                <li>Администратор</li>
                <li>Повар</li>
                <li>Официанты</li>
                <li>Директор</li>

            </ul>
        </div>
    </div>

    <hr class="featurette-divider">
    <a class="btn btn-secondary" href="{% url 'service:index' %}">Вернуться на главную &raquo;</a>
    <hr class="featurette-divider">

</div>
{% endblock%}