{% load static %}

<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="carousel-caption text-dark">
                        <h1>РАБОТАЕМ КАЖДЫЙ ДЕНЬ И БЕЗ ВЫХОДНЫХ</h1>
                        <p class="opacity-75">Режим работы: 11:00 - 23:00</p>
                        <p><a class="btn btn-lg btn-warning" href="{% url 'service:table_list' %}">Заказать столик</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="carousel-caption text-dark">
                        <h1>ШИРОКИЙ АССОРТИМЕНТ БЛЮД</h1>
                        <p>Вы можете заказать блюда на самый притягательный вкус</p>
                        <p><a class="btn btn-lg btn-warning" href="{% url 'service:table_list' %}">Заказать столик</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="carousel-caption text-dark">
                        <h1>ОНЛАЙН-БРОНИРОВАНИЕ СТОЛИКОВ</h1>
                        <p>Столик можно заказать онлайн на нашем сайте</p>
                        <p><a class="btn btn-lg btn-warning" href="{% url 'service:table_list' %}">Заказать столик</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>